@import url('https://fonts.googleapis.com/css2?family=ZCOOL+KuaiLe&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

@media(max-width: 1024px){
    .heroH{
        height: 50%!important;
    }
}

.fontJP{
    font-family: 'ZCOOL KuaiLe', sans-serif;
}
.bg-JP{
    background-color: #F1DC8B;
}
.bg-button{
    background-color: #B5383E;
}
.margin{
    margin-left: 84%;
    top: 18rem;
}
@media(max-width: 992px){
    .desaparece{
        display: none;
    }
}
.move{
    right: 22.5%;
}
.borde{
    border-color: #B5383E;
}